* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: lightblue;
}
.header div {
    display: flex;
}
nav {
    display: flex;
}
.slide {
    width: 1200px;
    padding: auto;
    background: lightpink;
}
.slide ul {
    display: flex;
    width: 300%;
}
.slide ul li {
    width: 100%;
    height: 300px;
}
main {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightseagreen;
}
section {
    width: 30%;
    height: 200px;
}

footer {
    width: 100%;
    background: lightgoldenrodyellow;
}
